@{
    ViewData["Title"] = "Home Page";
}

@section Slideshow {
    <div class="slider">
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="images/slideshow/1.jpg" data-thumb="images/1.jpg" alt="" />
                <img src="images/slideshow/2.jpg" data-thumb="images/2.jpg" alt="" />
                <img src="images/slideshow/3.jpg" data-thumb="images/3.jpg" alt="" />
                <img src="images/slideshow/4.jpg" data-thumb="images/4.jpg" alt="" />
            </div>
        </div>
    </div>
}

@section HomeCoupons {
    <div class="coupon-section">
        <div class="container">
            <div class="row">
                <div data-module="couponslist" class="col-xs-12 module module-couponslist">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="coupon">
                                        <div class="title"><b>FREE</b> 2nd Opinion! </div>
                                        <div itemprop="description" class="content"> Find out what really needs to be done. Keep it local. Keep it honest. Bring in your quote and we will confirm that listed repairs are needed.... FREE<br> Family owned and operated. </div>
                                        <div class="actions">
                                            <a title="Redeem Now" asp-controller="Appointments" asp-action="Index" asp-route-specialId="1" class="btn btn-redeem"> Redeem Now </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section HomeReviews {
    <div class="review-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-xs-12 module module-reviewsslider">
                            <h2>WORDS FROM <b>OUR CLIENTS</b></h2>
                            <div class="review">
                                <div class="opinion">“Best experience I've had as a single female trying to find a place to fix my car where they will be honest and thorough without treating me like an idiot.. I know I have high standards ;) I had a dealership quote me $1000 to fix my brakes, i went to Fairfax auto repair for a second opinion. They checked out my car and told me my brakes were fine and didn't need to be changed. Awesome! Saved me a lot of money and hassle. You should definitely check them out. Good service, courteous staff, honest (which I think is the most important).”</div>
                                <div class="author"><span>5 STAR REVIEW BY</span> Tamberline Nissly</div>
                                <div class="rating rating-50">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-xs-12">
        <div class="entry-content text-center">
            <h2>Welcome to <b>Paco's Garage</b></h2>
            <div>
                <p>Paco's Garage commenced business in 2008. Since then, an overwhelming response to business practice has been observed. An open minded approach and willingness to focus on client issues has led to repeat business. Our growth and steady clientele is the result of adhering to initial client concerns. Safety and reliability is our focus. Up-selling of unnecessary items not in need of attention will not be performed.</p>
                <p>We follow the maintenance booklet of your vehicle. Exceptions and modifications are always available for different driving characteristics. Fairfax Auto Repair prides itself on honesty and integrity in a field that at times, is perceived gray. In a client satisfaction based industry, it becomes very difficult to please everyone. While we have a strong return rate from our clients, there will always be room for improvement, and some will not return. Repairs can and do at times, become sour, not only for the client but the repair facility as well.</p>
                <p>If mistakes are made, we will strive to correct the situation in a calm and respecting fashion. We will do our best to provide the highest level of repair and faith for your vehicle. We employ only trained certified technicians. Our facility will meet the highest standards in vehicle repair, competency, reliability, cleanliness, competitive pricing, and overall experience. Feel free to contact us and experience the difference yourself.</p>
                <br>
                <a class="btn read-more column column-3 column-2-push" href="javascript:void(0)" title="Read More">READ MORE</a>
                <a class="btn apmnt column column-5" asp-action="Index" asp-controller="Appointments" title="Schedule an Appointment">SCHEDULE AN APPOINTMENT</a>
            </div>
        </div>
    </div>
</div>

<div class="entry-content home-services">
    <h2>SOME OF OUR<span> SERVICES</span></h2>
    <p class="text-center">We're here to serve you and all your vehicle maintenance and car repair needs.</p>
    <div class="row">
        <div class="col-xs-6 col-sm-3">
            <ul>
                <li>Air Conditioning</li>
                <li>Battery</li>
                <li>Coolant</li>
                <li>Drive Train</li>
                <li>Fleet Service</li>
                <li>Inspections</li>
                <li>Overhauls</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
            <ul>
                <li>Mufflers</li>
                <li>Rear End</li>
                <li>Coolant</li>
                <li>Suspension</li>
                <li>Tune Ups</li>
                <li>Exhaust</li>
                <li>Alignments</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
            <ul>
                <li>Cooling System</li>
                <li>Electrical</li>
                <li>Fuel System</li>
                <li>Maintenance</li>
                <li>Power Steering</li>
                <li>Shocks</li>
                <li>Systems</li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3">
            <ul>
                <li>Timing Belts</li>
                <li>Axles</li>
                <li>Alternator</li>
                <li>Check Engine</li>
                <li>Computer Diagnostic</li>
                <li>Engine</li>
                <li>Oil Change</li>
            </ul>
        </div>
        <div class="text-center">
            <a class="btn" href="javascript:void(0)" title="Services">View All Services</a>
        </div>
    </div>
</div>

@section GoogleMap
{
    <div id="map" class="google-map">My map will go here</div>
}

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWvRMVlLW9IZqHQxV9wrJV5L0mGWtanp8&callback=myMap"></script>
}
