@{
    ViewData["Title"] = "Success";
}

<div class="row appointment-success">
    <div class="col-xs-12 col-md-8 col-centered">
        <div class="alert alert-success text-center">
            <p>
                Thank you for your appointment!<br />
                We will contact you in a 1 business day to confirm your appointment!
            </p>
        </div>
    </div>
</div>
