
@{
    ViewData["Title"] = "Index";
}

<h2>Control Panel</h2>

<div class="row">
    <div class="col-md-3">
        <ul>
            <li><a asp-action="Users"  class="draw meet">Users</a></li>
            <li><a  class="draw meet">Appointments</a></li>
            <li><a  class="draw meet">Reviews</a></li>
            <li><a  class="draw meet">BLog</a></li>
        </ul>
    </div>
</div>

