@model PostListingServiceModel

@{
    ViewData["Title"] = "Articles";
}

<div class="article-preview">
    <h2>
        @Html.Raw(Model.Title)
    </h2>
    <div class="entry-meta-data">Posted on @Model.CreatedOn.ToShortDateString()</div>
    <div class="entry-meta-author"><i>by @Model.Author</i></div>
    <div class="entry-content">
        <p>
           @Html.Raw(Model.Text)
        </p>
    </div>
</div>

